
 @import"https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap";
.navbar {
  display: flex;
  justify-content: space-between;
}
.form-inline {
  margin-left: auto;
}

button.nav-link {
  background-color: #3498db; /* or any other color */
  color: #fff; /* or any other color */
}

button.nav-link:hover {
  background-color: #2980b9; /* or any other color */
  cursor: pointer;
}
button.btn {
  margin-left: 20px;
}
