@import"https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap";
.container{
    padding:2%;
    background-color:white;
    border: 1px solid rgb(50, 50, 188);
    border-radius: 10px;
    form{
        margin:1%;
          div {
            margin:1%;
            width:100%;
            label{
                font-size:15px;
                display:block;
                margin:5%;
                font-family: 'Nunito Sans', sans-serif;
                color: rgb(87, 87, 219);
            }
            mat-error{
                color:red;
                font-family: 'Nunito Sans', sans-serif;
            }
           }
    }
    .message{
        font-family: 'Nunito Sans', sans-serif;
        text-justify: auto;
        color:black;

    }
    div a{
        margin:5px;
    }
    button.btn {
      margin-left: 20px;
    }

}
